
.accordion-item {
    background-color: rgba(127, 165, 255, 0.827);
}
.accordion-button{
    background-color: rgba(165, 42, 42, 0.711);
}
.accordion-button:focus{
    box-shadow: none
}
.accordion-body{
    background-color: blanchedalmond;
}
